/* -----------------------------------------------------------------------------
   Text-switcher
----------------------------------------------------------------------------- */

.text-switcher {
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
  top: 300px;
  right: 20px;
  font-size: 3rem;
  line-height: 1.3;
  font-weight: bold;
}

.tc__line {
  position: relative;
  overflow: hidden;
  height: 4rem;

  span {
    display: block;
    transform: translate3d(0, 0, 0);

    &.tc__bottom {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(100%);
      opacity: 0;
    }

    &.tc__in {
      animation-name: tc-switch-in;
      animation-duration: 500ms;
      animation-timing-function: ease-out;
      animation-direction: normal;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    &.tc__out {
      animation-name: tc-switch-out;
      animation-duration: 500ms;
      animation-timing-function: ease-out;
      animation-direction: normal;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

  }


  &:nth-child(2) span {
    animation-delay: 50ms;
  }

  &:nth-child(3) span {
    animation-delay: 100ms;
  }

  &:nth-child(4) span {
    animation-delay: 150ms;
  }

  &:nth-child(5) span {
    animation-delay: 200ms;
  }

}


/* Move in */
@keyframes tc-switch-in {
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* Move out */
@keyframes tc-switch-out {
  to {
    transform: translate3d(0, -100%, 0);
    opacity: 0,
  }
}


