@charset 'utf-8';

@import 'text-switcher';

/* -----------------------------------------------------------------------------
   Demo
----------------------------------------------------------------------------- */

body {
  font-family: 'Trebuchet MS';
  text-align: left;
  background: #333;
  color: #fff;
}
